
//品牌色盤
$color-primary:#3F5D45;
$color-secondary:#EAF0ED;
$color-text:#8DA291;
$color-accent:#FFE180;
$color-background:#FFFFFF;


//字體
$font-family-primary:'PingFang TC','Noto Sans TC',sans-serif;
$font-family-secondary:'Helvetica Neue',sans-serif;


