@import "variables";

*,*::before,*::after{
    box-sizing: border-box;
}

*{outline: 1px dashed chocolate;}

body{
    font-family: $font-family-primary;
};


.label{
    writing-mode: vertical-rl;
    padding: 10px;
    height: 106px;
    width: 36px;
    background-color: $color-primary;
    color: $color-secondary;
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

.product-name{
    font-size: 20px;
    color: $color-primary;
    width: 57%;
    padding-block: 14px;
    text-align: center;
    border:1px solid $color-secondary;
}

.product-price{
    font-size: 20px;
    font-weight: 600;
    color: $color-primary;
    width: 43%;
    padding-block: 14px;
    text-align: center;
    border:1px solid $color-secondary;
}

.lg-btn{
    width: full;
    height: 65px;
    color: $color-primary;
    background-color: $color-secondary;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: $color-primary;
        color: $color-secondary;
        transition: all 0.5s ease;
    }
    &:active{
        background-color: $color-primary;
        color: $color-secondary;
        transition: all 0.5s ease;
    }
}


.accent-btn{
    background-color: $color-accent;
    color: $color-primary;
    cursor: pointer;
    color: $color-primary;
    font-weight: 600;
    font-size: 24px;
    &:hover{
        box-shadow: 0 5px 18px rgba($color: black, $alpha: 0.8);
        transition: all 0.3s ease;
    }
    &:active{
        box-shadow: 0 5px 18px rgba($color: black, $alpha: 0.8);
        transition: all 0.3s ease;
    }
}

.navbar-btn{
    color:$color-primary;
    font-weight: 600;
    &:hover{
        border-bottom: 4px solid $color-primary;
    }
}


.key-in{
    background-color: $color-secondary;
    &:hover{
        border: 3px solid $color-accent;
    }
}

.information-font{
    font-family: $font-family-secondary;
}

.nav-title{
    background-color: $color-primary;
    color:$color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 24px;
    font-weight: 600;
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    color: $color-primary;
    border: 1px solid $color-secondary;
    height: 65px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color:$color-secondary;
        transition: all 0.5s ease;
    }
    &:active{
        background-color:$color-secondary;
        transition: all 0.5s ease;
    }
}

.page-btn{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:$color-primary;
    font-size: 20px;
    border:1px solid $color-secondary;
    &:hover{
        background-color: $color-primary;
        color:$color-secondary;
    }
    &:active{
        background-color: $color-primary;
        color:$color-secondary;
    }
}

::placeholder { 
  color: $color-text;
}



input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: $color-secondary;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    &:checked{
        background-color: $color-accent;
        &::after{
            content:'✓';
            position: absolute;
            top:-2.8px;
            left: 2px;
            color: $color-primary;
        };
    }
}

.stepper{
    display: flex;
    width: 153px;
    height: 16.45px;
    .stepper-item{
        display: flex;
        flex:1;
        justify-content: center;
        position: relative;

        &.first{
            justify-content: start;
        };

        &::before{
        content: "";
        width: 16.45px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid $color-text;
        background-color: $color-primary;
        z-index: 2;
        };

        &:not(:first-child)::after{
            content: "";
            height: 1px;
            background-color: $color-text;
            width: 200%;
            position: absolute;
            top:50%;
            right: 0;
            z-index: 1;
        };


        &.active{
            &::before{
                background-color: $color-secondary;
                border-width: 2px;
                border-color: $color-primary;
                box-shadow: 0 0 0 1px $color-secondary;
            };

        };

        &.check{
            &::before{
                background-color: $color-secondary;
                font-family: 'Material Symbols Outlined';
                content: '\e5ca';
                display: flex;
                color: $color-primary;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                border: 0cap;
            };

        }

        &.last{
            justify-content: end
        }
        
    };
}

@media(min:768px){
    .stepper{
        width: 186px;
        height: 20px;
    };
}


.stepper-dark{
    display: flex;
    width: 190px;
    height: 20px;
    .stepper-dark-item{
        display: flex;
        flex:1;
        justify-content: center;
        position: relative;

        &.first{
            justify-content: start;
        };

        &::before{
        content: "";
        width: 20px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid $color-primary;
        background-color: $color-secondary;
        z-index: 2;
        };

        &:not(:first-child)::after{
            content: "";
            height: 1px;
            background-color: $color-primary;
            width: 200%;
            position: absolute;
            top:50%;
            right: 0;
            z-index: 1;
        };


        &.active{
            &::before{
                background-color: $color-primary;
                border-width: 2px;
                border-color: $color-secondary;
                box-shadow: 0 0 0 1px $color-primary;
            };

        };

        &.check{
            &::before{
                background-color: $color-primary;
                font-family: 'Material Symbols Outlined';
                content: '\e5ca';
                display: flex;
                color: $color-secondary;
                justify-content: center;
                align-items: center;
                font-weight: 600;
            };

        }

        &.last{
            justify-content: end
        }
        
    };
}

@media(min:768px){
    .stepper-dark{
        width: 190px;
        height: 20px;
    };
}


select{
    color:$color-text;
    option{
        color:$color-text;
        &.selected{
            color:$color-text;
        }
    }
}

.option-btn{
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid $color-secondary;
    &:hover{
        background-color: $color-secondary;
        color: $color-primary;
    }

    &:active{
        background-color: $color-secondary;
        color: $color-primary;
    }
}